includes:
  - ./vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
  level: 5
  ignoreErrors:
    - '#Access to an undefined property App\\Http\\Resources\\.*Resource::\$.*#'
    - '#Call to an undefined method Laravel\\Socialite\\Contracts\\Provider::stateless\(\)\.#'
  checkModelProperties: true
  inferPrivatePropertyTypeFromConstructor: true
